@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 100%;
    }
}

@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 100%;
    }
}

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 100%;
    }
}

@media (max-width: 768px) {

    .div_festival {
        display: flex;
        flex-direction: column;
    }
}

.nav-link:hover {
    color: #dc3545 !important;
}

.fa-brands:hover {
    color: #dc3545 !important;
}

.site:hover {
    color: #dc3545 !important;
}